.secondary-heading {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
  &--white {
    color: $color-white;
  }
  @include response("phone") {
    font-size: 28px;
  }
  @include response("phone") {
    text-align: center;
  }
}
